body {
    height: 100vh;
    margin: 0;
    display: cover;
    justify-content: center;
    align-items: center;
  }

  .home {
    overflow: hidden;
  }

  .about {
    overflow: hidden;
  }

  .contact {
    overflow: hidden;
  }
  
  /* .projects {
    background-image: url(space.png);
    background-repeat: repeat;
    margin: 0;
    justify-content: center;
    align-items: center;
} */

/* Background moves with mouse  */

.module {
    width: 100%;
    height: 3500px;
    background-image: url(./otherimgs/space.png);
  }

/* Spinning Earth  */

.earth {
    z-index: 0;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    background: white;
    background-image: url(otherimgs/earth1.png);
    border-radius: 50%;
    background-size: cover;
    background-repeat: repeat-x;
    box-shadow: inset 0 0 20px rgb(0 0 0), 0 0 50px #4069ff;
    animation: animateEarth 30s linear infinite;
    transition: transform 2000ms linear;
}
@keyframes animateEarth {
0% {
  background-position: 0 0;
}
100% {
  background-position: 1002px 0;
  }
}
.circle {
    z-index: 2;
    transform-style: preserve-3d;
    /* spin speed */
    animation: animateText 20s linear infinite;

}
.circle span {
    font-family: 'Secular One', sans-serif;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: #35146f;
    font-size: 3em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 10px 57px;
    transform: rotateY(calc(var(--i) * calc(360deg / 33))) 
    translateZ(600px);
    border-top: 4px solid #35146f;
    border-bottom: solid #35146f;
}
.circle span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: translateZ(-5px);
}
@keyframes animateText 
{
    0%
    {
        transform: perspective(1000px) rotateY(1000deg) 
        rotateX(15deg) translateY(-30px);
    }
    100%
    {
        /* perspective = radius of ring */
        transform: perspective(100px) rotateY(100deg) rotateX 
        (15deg) translateY(-30px);
    }
}

/* Walking man  */

.animation {
    position: relative;
    z-index: 1;
    left: 894px;
    top: -3065px;
    width: 78.333333333px;
    height: 126px;
    background-image: url(https://38.media.tumblr.com/tumblr_mb4zsyUYCT1rvuv0d.png);
    animation: walk-cycle 1.0s steps(6) infinite;
}

@keyframes walk-cycle{
    0%{
        background-position: 0px;
    }
    100% {
        background-position: -500px;
    }   
}

/* Bus tracker title - Page 2  */

h1 {
    text-align: right;
    color: white;
    font-family: 'Rubik Glitch', cursive;
    font-size: 6em;
    position: absolute;
    top: 141px;
    right: 75px;
}

h2 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-family: monospace;
    font-size: 5em;
    margin-top: -2728px;
    margin-left: 43px;
    font-weight: bold;
}

/* About - Page 3  */

h3 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -3px 3px 7px #79e52b, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-family: monospace;
    font-size: 5em;
    margin-top: -3337px;
    margin-left: 43px;
    font-weight: bold;
}



/* Image - Page 3  */

#about {
    position: absolute;
    z-index: 0;
    top: 351px;
    bottom: 1px;
    left: 153px;
    right: 0;
    width: 438px;
    height: 418px;
}

/* Rectangle - Page 3 */

.rectangle2 {
    z-index: 0;
    position: absolute;
    border-radius: 25px;
    top: 350px;
    left: 685px;
    border: 2px solid #73AD21;
    background: black;
    padding: 20px;
    width: 1113px;
    height: 406px;
}

/* Rectangle - Page 4 */

.rectangle {
    position: absolute;
    border-radius: 25px;
    top: 300px;
    left: 458px;
    border: 2px solid #73AD21;
    background: black;
    padding: 20px;
    width: 871px;
    height: 406px;
}

/* Text - Page 3 */

p.text3 {
    position: relative;
    text-align: justify;
    color: white;
    display: block;
    font-family: monospace;
    font-size: 20px;
    margin-top: 167px;
    margin-left: 706px;
    margin-right: 148px;
    font-weight: bold;
}

/* Text - Page 4 */

p.text4 {
    position: absolute;
    top: 15px;
    left: 26px;
    text-indent: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin: 17% 28% 0% 28%;
    color: rgb(248, 241, 241);
}

/* Github text - Page 3 */

p.text5 {
    position: absolute;
    top: 468px;
    left: 651px;
    color: white;
    font-size: 30px;
}

p.text6 {
    position: absolute;
    top: 468px;
    left: 978px;
    color: white;
    font-size: 30px;
}

/* Nav Bar  */

nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0px 0px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}

nav ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
} 

nav ul li a {
    line-height: 80px;
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: rgba(226, 226, 226, 0.7);
    border-radius: 6px;
}

#map-container { 
    position: relative;
    top: 100px;
    left: 100px;
    height: 100%; 
    width: 100%;
    overflow: visible;
}

.carousel-inner {
    z-index: -1;
    width: 1233px;
    height: 861px;
    left: 331px;
    top: 58px;
    position: relative;
    border: 20px;
    color: #fff;
    border-color: #000;
    outline: 20px;
    outline-color: #000;

}

/* Eye Exercise - Page 2 */

.eyes {
    z-index: 2;
    position: absolute;
    top: 1451px;
    left: -17px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .eye {
    z-index: 2;
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

/* Map  */

#map {
    z-index: 1;
    width: 1041px;
    height: 759px;
    left: 425px;
    top: 220px;
    position: absolute;
    border: 20px;
    border-color: #000;
    outline: 20px;
    outline-color: #000;
}

/* Map Border */

.box {
    position: relative;
    z-index: 0;
    left: 944px;
    top: -3030px;
    transform: translate(-50%, -50%);
    width: 1056px;
    height: 774px;
    background: #724297;
    border-radius: 0% 0%;
}

  .square {
    position: relative;
    z-index: 1;
    left: 945px;
    top: -2959px;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: #00bd94;
    border-radius: 50%;
  }

 /* Slide labels  */

h4 {
    position: relative;
    text-align: center;
    font-size: 3em;
    top: -3411px;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-weight: bold;
}
h6 {
    position: relative;
    text-align: center;
    font-size: 3em;
    top: -3388px;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-weight: bold;
}
h7 {
    position: relative;
    text-align: center;
    font-size: 3em;
    top: -3334px;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-weight: bold;
}

.titleBus {
    color: white;
    position: relative;
    text-align: center;
    top: -3413px;
}
.titleEye {
    color: white;
    position: relative;
    text-align: center;
    top: -3390px;
}
.titlePac {
    color: white;
    position: relative;
    text-align: center;
    top: -3327px;
}
  #game {
    position: absolute;
    top: 2161px;
    left: 0px;
  }

  /* Github link */

#github {
    position: absolute;
    top: 532px;
    left: 649px;
    height: 100px;
}

#linkedIn {
    position: absolute;
    top: 532px;
    left: 982px;
    height: 100px; 
}

/* grid  */

/* .row {
    position: relative;
    top: 300px;
    left: 300px;
}
.col {
    position: relative;
    top: 300px;
    left: 300px;
} */



  



