/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
} */
/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;  
} */
.earth {
    z-index: 0;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    background: white;
    background-image: url(otherimgs/earth1.png);
    border-radius: 50%;
    background-size: cover;
    background-repeat: repeat-x;
    box-shadow: inset 0 0 20px rgb(0 0 0), 0 0 50px #4069ff;
    animation: animateEarth 30s linear infinite;
    transition: transform 2000ms linear;
}
@keyframes animateEarth {
0% {
  background-position: 0 0;
}
100% {
  background-position: 1002px 0;
  }
}
.circle {
    z-index: 2;
    transform-style: preserve-3d;
    /* spin speed */
    animation: animateText 20s linear infinite;

}
.circle span {
    font-family: 'Secular One', sans-serif;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: #35146f;
    font-size: 3em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 10px 57px;
    transform: rotateY(calc(var(--i) * calc(360deg / 33))) 
    translateZ(600px);
    border-top: 4px solid #35146f;
    border-bottom: solid #35146f;
}
.circle span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: translateZ(-5px);
}
@keyframes animateText 
{
    0%
    {
        transform: perspective(1000px) rotateY(1000deg) 
        rotateX(15deg) translateY(-30px);
    }
    100%
    {
        /* perspective = radius of ring */
        transform: perspective(100px) rotateY(100deg) rotateX 
        (15deg) translateY(-30px);
    }
}

.animation {
    position: relative;
    z-index: 1;
    left: 894px;
    top: 438px;
    width: 78.333333333px;
    height: 126px;
    background-image: url(https://38.media.tumblr.com/tumblr_mb4zsyUYCT1rvuv0d.png);
    animation: walk-cycle 1.0s steps(6) infinite;
}

@keyframes walk-cycle{
    0%{
        background-position: 0px;
    }
    100% {
        background-position: -500px;
    }   
}





.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 5%;
    left: 51%;
    transform: translate(-50%, -46%);
    z-index: 2;
    width: 54%;
    height: 9%;
    padding: 0px;
    text-align: center;
}

/* Bus tracker title - Page 2  */

h1 {
    text-align: right;
    color: white;
    font-family: 'Rubik Glitch', cursive;
    font-size: 6em;
    position: absolute;
    top: 141px;
    right: 75px;
}

h2 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-family: monospace;
    font-size: 5em;
    margin-top: -2728px;
    margin-left: 43px;
    font-weight: bold;
}

/* About - Page 3  */

h3 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-family: monospace;
    font-size: 5em;
    margin-top: 172px;
    margin-left: 43px;
    font-weight: bold;
}

p.text3 {
    text-align: justify;
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-family: monospace;
    font-size: 30px;
    margin-top: 91px;
    margin-left: 740px;
    margin-right: 106px;
    font-weight: bold;
}

/* Image - Page 3  */

#about {
    position: absolute;
    z-index: 0;
    top: 351px;
    bottom: 1px;
    left: 153px;
    right: 0;
    width: 438px;
    height: 418px;
}

/* Rectangle - Page 4 */

.rectangle {
    position: relative;
    z-index: 0;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 837px;
    height: 104px;
    background: #eeacff;
    border-radius: 0% 0%;
    box-shadow: 2px 2px 20px 6px rgb(51 255 245);
}

/* Text - Page 4 */

p.text4 {
    position: relative;
    text-indent: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin: 17% 28% 0% 28%;
    color: rgb(0, 0, 0);
    box-shadow: 2px 3px 9px 3px rgb(255 255 255);
}

/* Slide labels  */

h5 {
    text-align: center;
    color: white;
    margin-bottom: -100px;
}



/* #hi {
    position: absolute;
    z-index: 0;
    top: 168px;
    bottom: 1px;
    left: 470px;
    right: 0;
    width: 353px;
    height: 324px;
} */

/* #jaymie {
    position: absolute;
    z-index: 0;
    top: 150px;
    bottom: 1px;
    left: 1044px;
    right: 0;
    width: 715px;
    height: 323px;
} */







/* First slide label on map page */



body {
    background-image: url("space.png");
    margin: 0;
    padding: 0;
    min-height: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



/* Nav Bar  */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    /* box-sizing: border-box;
    background: rgba(0,0,0,0.6); */
}

nav ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
}   
nav ul li a {
    line-height: 80px;
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover {
    background: rgba(226, 226, 226, 0.7);
    border-radius: 6px;
}

/* Map  */

#map {
    
    width: 993px;
    height: 828px;
    left: 25%;
    top: 91px;
    position: fixed;
    border: 20px;
    border-color: #000;
    outline: 20px;
    outline-color: #000;
}

#map-container { 
    height: 100%; 
    width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/* Map Border */

#bar-top {
    background-color: #000000;
    position: absolute;
    left: 481px;
    top: 46px;
    height: 4px;
    width: 974px;
}

#bar-bottom {
    background-color: black;
    position: absolute;
    left: 480px;
    bottom: 43px;
    height: 4px;
    width: 974px;
}

#bar-left {
    background-color: #000000;
    position: absolute;
    left: 480px;
    top: 46px;
    height: 808px;
    width: 4px;
}

#bar-right {
    background-color: #000000;
    position: absolute;
    right: 433px;
    top: 48px;
    height: 808px;
    width: 4px;
}





